APScheduler==3.11.0
azure-ai-inference==1.0.0b7
dashscope==1.22.1
nonebot2==2.4.1
nonebot_plugin_alconna==0.54.2
nonebot_plugin_localstore==0.7.3
nonebot_plugin_orm==0.7.6
ollama==0.4.7
openai==1.64.0
pydantic==2.10.5
ruamel.yaml==0.18.10
SQLAlchemy==2.0.38
websocket_client==1.8.0
aiosqlite>=0.17.0
